body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 250, 250);
  }
  
  * {
    box-sizing: border-box;
  }
  .button {
    background-color: #cfbf2c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
   /* div.download-container{ 
      Display: block;
  Margin: auto; }*/
  
     #download-button{
     text-align: center;
     color:white;
    margin-left: 50%;
   /* Display: block; */
  Padding: 10px;
  Background-color: rgb(207, 74, 74);
  Border-radius: 15px;
  Text-decoration : none;
  Cursor: pointer; 
  
  }
  
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }